.App {
  text-align: center;
}

h1 {
}

.body-wrapper {
  background: url(./static/bg-pattern-dark.png) repeat center center;
  background-color: #fefaec;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
